#But1 {
    font-size: 30px;
    border-color: rgb(51, 225, 167);
    border-style: solid;
    border-width: fixed;
    color:  rgb(51, 225, 167);
    margin-top: 40px ;
    margin-left: 75px;
    border-radius: 20px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#But2 {
    font-size: 35px;
    color: white;
    background-color: rgb(51, 225, 167);
    border-color:  rgb(51, 225, 167);
    border-radius: 50%;
    margin-top: 20px ;
    margin-left: 75px;
    border-style: solid;
}
#But3 {
    font-size: 30px;
    color: aliceblue;
    background-color: cornflowerblue;
    margin-top: 20px ;
    margin-left: 75px;
    padding: 10px 40px 10px 40px;
    box-shadow: 5px 5px 5px black;
}